*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: #2980b9;
    margin: auto;
    height: 70px;
}

.navbar{
    display: flex;
    margin: auto 3rem auto 2rem;
}

nav .logo a{
    font-size: 28px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

nav .logo a span{
    color: aqua;
}

nav .menu ul{
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

nav .menu ul li a{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s ease;
}

nav .menu ul li a:hover{
    color: #154360;
}

.container{
    margin: 5rem;
}

.ttl{
    letter-spacing: 4px;
    color: gray;
    margin-bottom: 1rem;
}

.isi{
    margin-top: 1.5rem;
    max-width: 700px;
    line-height: 1.5;
}

.btn{
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color:  #2980b9;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
}

.btn:hover{
    background-color: #216a96;
}

.list-fav{
    margin-top: 1rem;
}

.list-fav ul{
    margin-left: 2rem;
    margin-top: 1rem;
}

.list-fav ul li{
    margin-top: 1rem;
}

/* .form-contact{
    display: flex;
    flex-direction: column;
} */

form input{
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 300px;
    margin:1rem 0;
    border-radius: 12px;
    border: 1px solid black;
}

.btn-submit{
    width: 330px;
    padding: 12px;
    margin-top: 1rem;
    border-radius: 12px;
    border: none;
    background-color: #2980b9;
    color: white;
}

.btn-submit:hover{
    background-color: #216a96;
}

footer{
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: center;
}