*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3{
    color: rgb(42, 129, 129);
}

main{
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

header{
    display: inline;
}

.contents{
    flex: 3;
}

aside{
    flex: 1;
}

aside h2, p{
    text-align: center;
}

aside img{
    width: 150px;
    display: block;
    margin: 0 auto;
    object-position: center;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.image{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

nav li{
    display: inline;
    list-style: none;
    margin-right: 20px;
}

nav{
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

nav a:hover{
    font-weight: bold;
}

.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

footer{
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width : 768px) {
    main{
        flex-direction: column;
    }

    .contents, aside{
        width: 100%;
    }

    aside{
        margin-top: 20px;
    }
}