span{
    color: red;
}

#idSelector{
    color: blue;
}

.classSelector{
    color: green;
}

a[href]{
    color: brown;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* h1,h2{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
} */

.judul{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
}

ul li{
    list-style: none;
    display: inline;
    margin: 20px;
}

a{
    text-decoration: none;
}